* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 12vmin auto 5vmin;
}
header {
  background: blue;
  color: white;
  font-weight: 900;
  z-index: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
header .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 3vmin;
}
nav {
  margin-left: auto;
  height: 6vmin;
  width: 6vmin;
  position: relative;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
nav div,
nav div::before,
nav div::after {
  height: 0.8vmin;
  width: 100%;
  background: white;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
nav div::before {
  content: "";
  position: absolute;
  top: 0;
}
nav div::after {
  content: "";
  position: absolute;
  bottom: 0;
}
nav.active {
  transform: rotate(45deg);
}
nav.active div::before {
  top: 2.6vmin;
}
nav.active div::after {
  transform: rotate(90deg);
  top: 2.6vmin;
}
.content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}
.menuBlock {
  background: rgba(110, 190, 255, 0.534);
  border: solid red 1px;
  display: none;
}
.menuBlock.active {
  display: block;
}
.menuBlock .container {
  flex-direction: column;
  display: flex;
  height: auto;
}
.menuBlock ul {
  list-style: none;
}
.menuBlock li {
  height: 10vmin;
  width: 100%;
  display: flex;
  align-items: center;
}
.menuBlock li img {
  height: 70%;
  width: auto;
  margin-right: 2vmin;
  margin-left: 2vmin;
}
li.active {
  background: rgba(112, 120, 126, 0.349);
}
footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid blue 1px;
}
