* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.size(@width, @height) {
  height: @height;
  width: @width;
}

html, body {
  .size(100%, 100%)
}

body {
  font-size: 16px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 12vmin auto 5vmin;
}

header {
  background: blue;
  color: white;
  font-weight: 900;
  z-index: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

header .container {
  .size(100%, 100%);
  display: flex;
  align-items: center;
  padding: 0 3vmin;
}

nav {
  margin-left: auto;
  .size(6vmin, 6vmin);
  position: relative;
  display: flex;
  align-items: center;
  transition-duration: .3s;
  transition-timing-function: linear;
}

nav div,
nav div::before,
nav div::after {
  .size(100%, 0.8vmin);
  background: white;
  transition-duration: .3s;
  transition-timing-function: linear;
}

nav div::before {
  content: "";
  position: absolute;
  top: 0;
}

nav div::after {
  content: "";
  position: absolute;
  bottom: 0;
}

nav.active {
  transform: rotate(45deg);
  & div {
    &::before {
      top: 2.6vmin;
    }
    &::after {
      transform: rotate(90deg);
      top: 2.6vmin;
    }
  }
}

.content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

.menuBlock {
  //.size(100%, 100%);
  background: rgba(110, 190, 255, 0.534);
  border: solid red 1px;
  display: none;
}

.menuBlock.active {
  display: block;
}

.menuBlock .container {
  flex-direction: column;
  display: flex;
  height: auto;
}

.menuBlock ul {
  list-style: none;
}

.menuBlock li {
  .size(100%, 10vmin);
  display: flex;
  align-items: center;
}

.menuBlock li img {
  .size(auto, 70%);
  margin-right: 2vmin;
  margin-left: 2vmin;
}

li.active {
  background: rgba(112, 120, 126, 0.349);
}

.section {
  display: none;
  flex-direction: column;
}

.section, .section * {
  border: solid red 1px;
}

.section.active {
  display: flex;
}

.taskBlock {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  background: rgba(98, 0, 255, 0.473);
  display: none;
}

.taskBlock.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

#window {
  position: relative;
  border: solid red 1px;
  .size(80vmin, 70vmin)
}

#window .headline {
  .size(100%, 20%);
  background: rgba(128, 128, 128, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
}

#window .cancel {
  position: absolute;
  top: 0;
  right: 0;
  .size(15px, 15px);
  background: red;
  border: none;
  outline: none;
}

.points {
  .size(100%, 80%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.points > div:not(:last-of-type) {
  display: flex;
  flex-direction: column;
}

.priority {
  border: solid red 1px;
  display: flex;
  align-items: center;
}

.priority input {
  display: none;
}

.points .checkbox {
  display: inline-block;
  .size(16px; 16px);
  border-radius: 50%;
  margin-left: 2vmin;
  position: relative;

  &[for*='usual'] {
    margin-left: 3vmin;
    background: gray;
  }

  &[for*='important'] {
    background: orange;
  }

  &[for*='mostImportant'] {
    background: red;
  }
}

.priority #usual:checked ~ [for*="usual"]::after,
.priority #important:checked ~ [for*="important"]::after,
.priority #mostImportant:checked ~ [for*="mostImportant"]::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  .size(10px; 10px);
  background: rgb(62, 62, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid blue 1px;
}